.files input {
    font-size: 15px;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 110px 17% 85px 17%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    opacity: 1;
}

.files input:focus {
    outline: 15px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative;
    margin: 0;
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 5px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    float: left;
}

.title {
    font-weight: 700;
}

body {
    background-color: #E9ECEF;
}

.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    
}

.loaderOpaco {
    background: url(../img/load.svg) 50% 50% no-repeat rgba(27, 105, 188, 1);
    
}

.loaderTrans {
     background: url(../img/load.svg) 50% 50% no-repeat rgba(27, 105, 188, 0.75);
}

thead {
    background-color:#343A40;
    color: #fff;
}

.box {
  border-radius: 20px;
  border: 1px solid #343A40;
}